{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Voir le fournisseur : {{ id }}
{% endblock %}

{% block content %}
    <p> Nom du fournisseur : {{ name }} </p>
{% endblock %}