{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}

    <i class="menu-icon fa fa-pencil"></i> Un CMS

{% endblock %}

{% block content %}

    <p> Nom du CMS : {{ cms.title }} </p>
    <p> Résumé du CMS : {{ cms.summary }} </p>
    <p> Description du CMS : {{ cms.description }} </p>

{% endblock %}
