{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    <i class="menu-icon fa fa-sitemap"></i> Liste des catégories
{% endblock %}

{% block content %}
    <h1> </h1>
{% endblock %}