{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    <i class="menu-icon fa fa-sitemap"></i> Voir une catégorie : {{ id }}
{% endblock %}

{% block content %}
    <p> Nom de la catégorie : {{ name }} </p>
{% endblock %}