{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}

    <i class="menu-icon fa fa-th"></i> Une catégorie

{% endblock %}

{% block content %}

    <p> Nom de la catégorie : {{ category.title }} </p>
    <p> Description de la catégorie : {{ category.description }} </p>


{% endblock %}